<?xml version="1.0"?>
<freesense>
	<version>24.5</version>
	<lastchange></lastchange>
	<system>
		<optimization>normal</optimization>
		<hostname>FreeSense</hostname>
		<domain>home.arpa</domain>
		<group>
			<name>admins</name>
			<description>System Administrators</description>
			<scope>system</scope>
			<gid>1998</gid>
			<member>0</member>
			<priv>page-all</priv>
		</group>
		<user>
			<name>admin</name>
			<descr>System Administrator</descr>
			<scope>system</scope>
			<groupname>admins</groupname>
			<bcrypt-hash>$2b$12$GtlakhyTMck9mQ9mFWbBxex9CD4nTanhXhPZSlvyvSrYc2z/I2n3S</bcrypt-hash>
			<uid>0</uid>
			<priv>user-shell-access</priv>
		</user>
		<nextuid>2000</nextuid>
		<nextgid>2000</nextgid>
		<timeservers>pool.ntp.org</timeservers>
		<webgui>
			<protocol>https</protocol>
			<max_procs>2</max_procs>
		</webgui>
		<powerd_ac_mode>hadp</powerd_ac_mode>
		<powerd_battery_mode>hadp</powerd_battery_mode>
		<powerd_normal_mode>hadp</powerd_normal_mode>
		<timezone>Etc/UTC</timezone>
		<serialspeed>115200</serialspeed>
		<primaryconsole>video</primaryconsole>
		<sslcertref></sslcertref>
	</system>
	<interfaces>
		<wan>
			<enable></enable>
			<if>em0</if>
			<ipaddr>dhcp</ipaddr>
			<ipaddrv6>dhcp6</ipaddrv6>
			<blockbogons></blockbogons>
		</wan>
		<lan>
			<enable></enable>
			<if>em1</if>
			<ipaddr>192.168.1.1</ipaddr>
			<subnet>24</subnet>
		</lan>
	</interfaces>
	<staticroutes></staticroutes>
	<dhcpd>
		<lan>
			<enable></enable>
			<range>
				<from>192.168.1.100</from>
				<to>192.168.1.199</to>
			</range>
		</lan>
	</dhcpd>
	<syslog>
		<filterdescriptions>1</filterdescriptions>
	</syslog>
	<filter>
		<rule>
			<type>pass</type>
			<ipprotocol>inet</ipprotocol>
			<descr>Default allow LAN to any rule</descr>
			<interface>lan</interface>
			<tracker>0100000101</tracker>
			<source><network>lan</network></source>
			<destination><any></any></destination>
		</rule>
	</filter>
	<nat>
		<outbound>
			<mode>automatic</mode>
		</outbound>
	</nat>
	<rrd>
		<enable></enable>
	</rrd>
	<unbound>
		<enable></enable>
	</unbound>
	<widgets>
		<sequence>system_information:col1:open:0,traffic_graphs:col1:open:0,interfaces:col2:open:0,gateways:col2:open:0,services_status:col2:open:0</sequence>
	</widgets>
	<revision>
		<description>Factory default FreeSense</description>
		<username>admin</username>
	</revision>
</freesense>
